* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
html {
    font-size: 16;
}
body {
    height: 100vh;
    position: relative;
    background-image: url('../media/Nissan-Universe-Shouts.webp');
    background-size: cover;
}
#open {
    font-size: 2rem;
    position: absolute;
    max-width: 50%;
    top: 70%;
    left: 10%;
    padding: 10px 2vw;
    background: transparent;
    border: solid white 3px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 3px black;
    transition: 0.4s;
}
#open:hover {
    background-color: white;
    color: black;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    max-width: 200px;
    height: 25vw;
    max-height: 100px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    animation-name: modecendal;
    animation-duration: 0.5s;
}
#close {
    font-size: 3rem;
}
#close:hover {
    cursor: pointer;
    font-size: 3rem;
    color: red
}
.container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
}
@keyframes modecendal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 100%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px; /* Smaller size for tablets */
    }
}
  
@media (max-width: 480px) {
    html {
        font-size: 12px; /* Smaller size for mobile */
    }
}