* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto'
}
html {
    font-size: 16;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../media/Nissan-Universe-Shouts.webp');
    background-size: cover;
}
.container {
    width: 80%;
    max-width: 550px;
}
.header {
    font-size: 1.3125rem;
    color: white;
    border: solid white 2px;
    background-color: #262626;
    padding: 1vw;
    width: 80%;
    max-width: 440px;
    margin: 20px auto;
    border-radius: 5px;
}
.main {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 20px;
}
.text {
    font-size: 1.5rem;
    line-height: 1.5;
}
.name {
    color: darkred;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-top: 20px;
}
button {
    color: white;
    background-color: #262626;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #161616;
}
button:active {
    background-color: #060606;
}

@media (max-width: 768px) {
    html {
        font-size: 14px; /* Smaller size for tablets */
    }
}
  
@media (max-width: 480px) {
    html {
        font-size: 12px; /* Smaller size for mobile */
    }
    .text {
        line-height: 1.25;
    }
    .name {
        margin-top: 5px;
    }
    button {
        padding: 5px 10px;
        margin-top: 15px;
    }
}