* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../media/Nissan-Universe-Shouts.webp');
    background-size: cover;
}
.container {
    width: 60%;
    max-width: 600px;
    background-color: white;
    border-radius: min(3vw, 25px);
    box-shadow: 0 0 3px;
    align-content: center;
}
#timer {
    font-size: min(12vw, 120px);
    width: 100%;
    text-align: center;
    margin: min(2vw, 100px) auto;
}
.buttons {
    text-align: center;
}
button {
    border: none;
    margin: 0 min(2vw, 50px) min(2vw, 50px) min(2vw, 50px);
    cursor: pointer;
}
i {
    font-size: min(5vw, 60px);
    color: white;
    width: min(7vw, 80px);
    height: min(7vw, 80px);
    line-height: min(7vw, 80px) !important;
    border-radius: 1vw;
}
#play {
    background-color: green;
}
#pause {
    background-color: orange;
}
#reset {
    background-color: red;
}
  
@media (max-width: 480px) {
    .container {
        width: 80%;
        height: 50%;
        background-color: white;
        border-radius: 3vw;
        box-shadow: 0 0 3px;
    }
    #timer {
        font-size: 15vw;
        width: 100%;
        text-align: center;
    }
    button {
        border: none;
        margin: 2vw;
        cursor: pointer;
    }
    i {
        font-size: 10vw;
        color: white;
        width: 15vw;
        height: 15vw;
        line-height: 15vw !important;
        border-radius: 2vw;
    }
}